/* .task__item {
  background-color: white;
  margin: 0 0 4px 0;
} */

* {
  box-sizing: border-box;
}

.card {
  margin: 0 0 10px 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* width: 280px; */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0;

  min-height: 70px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0 0 10px 0;
  width: 50px;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

/* .tag-purple {
  background-color: #5e76bf;
} */

.card-body p {
  font-size: 11px;
  margin-bottom: -5px;
}
.user {
  height: 12px;
  padding-top: 2px;
  width: 100%;
  display: flex;
}

.edit {
  font-size: 100%;
  margin-left: auto;
}

.user-info small {
  font-size: 70%;
  color: #b3b3b3;
}
.title1 {
  font-size: 100%;
}

/* Begin required CSS. */
.line-clamp {
  color: #595959;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;

  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 !important;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
  height: calc(1em * 1.2 * 1);
}
.line-clamp-2 {
  -webkit-line-clamp: 2;
  height: calc(1em * 1.2 * 2);
}
.line-clamp-3 {
  -webkit-line-clamp: 3;
  height: calc(1em * 1.2 * 3);
}
.line-clamp-4 {
  -webkit-line-clamp: 4;
  height: calc(1em * 1.2 * 4);
}
.line-clamp-5 {
  -webkit-line-clamp: 5;
  height: calc(1em * 1.2 * 5);
}
/* End required CSS. */
