* {
  box-sizing: border-box;
}
.App {
  max-width: auto;
  margin: 0 auto;
  padding-top: 20px;
  height: 585px;
  /* border: 1px solid black; */
}

.App::-webkit-scrollbar {
  display: none;
}
